/*Some reset*/
* {
    box-sizing: border-box;
    margin: 0;
}
/*Body*/
body {
    height: 100vh;
    width: 100vw;
    background: no-repeat url("./background.jpg") ;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/*Header*/
header {
    width: 100%;
    height: 20%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #ff5722;
}
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav button {
    appearance: none;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    font-size: 1.4rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
}
nav button:hover, .home button:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 1px 1px 1px black;
}
/*Content body*/
#content {
    width: 60%;
    height: 75%;   
    margin: 0 auto;
}
/*HomePage*/
.home .img-container {
    position: relative;
    width: 100%;
    height: 500px;
    background: no-repeat url("./pizza.jpg") center;
    background-size: 80% 500px;
}

.home, .menu, .about {
    background-color: #ff5722;
    height: 100%;
}
.home {
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.home .title {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
}
.home .img-container .img-text {
    position: absolute;
    right: 10%;
    color: white;
    font-size: 1.5rem;
}
.home .text-container {
    color: white;
    margin: 0 auto;
    width: 80%;
}
.home button {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 40px;
    background-color:rgba(177, 37, 37, 0.644);
    color: white;
    font-size: 1.5rem;
}
/*MenuPage*/
.menu {
    height: 700px;
}
.menu .text-container {
    color: white;
    height: 100%;
}
.menu .text-container .title {
    font-size: 1.8rem;
    width: 60px;
    margin: 0 auto;
    padding: 10px ;
}
.menu .text-container .text {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 15px;
    font-size: 1.3rem;
    gap: 10px;
    align-items: center;
}
.menu .med-size {
    grid-area: 1/1/2/3;
    justify-self: end;
}
.menu .prize, .menu .lar-size{
    justify-self: end;
}
.menu .ingredients{
    font-size: 0.8rem;
}
.menu .item1-ingredients {
    grid-area: 3/1/4/4;
    
}
/*AboutPage*/
.about {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 700px;
}
.about .title {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 2rem;
}
.about .contact-body ,.about .working-hours-body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;
    gap: 5px;
    justify-content: center;
}
.about .contact-body div + div , .about .working-hours-body div +div{
    border-top: solid;
    padding-top: 5px;
}
/*Footer*/
footer {
    height: 10%;
    width: 100%;
    background-color:#ff5722;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer a {
    text-decoration: none;
    color: white;
}